# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Rust
target/
Cargo.lock

# Wheels
*.whl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Blender
*.blend
*.blend1
*.blend2
frames/

# Temporary files
*.tmp
*.bak